{% extends 'base.setup.html.twig' %}

{% block title %}Administrator information{% endblock %}

{% block wrapper_classes %}d-flex{% endblock %}

{% block body %}
<div class="container flex-fill d-flex">
    <div class="row flex-fill d-flex align-items-center">
        <div class="col-8 m-auto">
            <div class="card">
                <h2 class="card-title">
                    Installation done <a class="btn btn-sm float-right" href="{{ path('dashboard') }}">Visit the dashboard</a>
                </h2>

                <p>
                    The open gallery has succesfully been installed, to start using the gallery just click on the "Visit the dashboard" link above!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
